<div class="summary-container">
  <div class="overview-container">
    <div class="main-line">
      <h1 class="portfolio-value">{{ portfolioData?.portfolioValue | number : '1.2-2' }} <span class="accented">$</span></h1>
      <p class="invested">Invested:<br>{{ portfolioData?.invested | number : '1.2-2' }}$</p>
    </div>
    <div class="pnl-line">
      <div class="pnl-container current-pnl">
        <p class="pnl-label">Current PnL</p>
        <p class="pnl-value" [ngClass]="{
          'change-negative': (portfolioData?.currentPnl?.value || 0) < 0,
          'change-positive': (portfolioData?.currentPnl?.value || 0) >= 0,
        }">@if ((portfolioData?.currentPnl?.value || 0) > 0) {+}{{ portfolioData?.currentPnl?.value | number : '1.2-2' }}$</p>
        <p class="pnl-change"[ngClass]="{
          'change-negative': (portfolioData?.currentPnl?.change || 0) < 0,
          'change-positive': (portfolioData?.currentPnl?.change || 0) >= 0,
        }">@if ((portfolioData?.currentPnl?.change || 0) > 0) {+}{{ portfolioData?.currentPnl?.change | number : '1.2-2' }}%</p>
      </div>
      <div class="divider"></div>
      <div class="pnl-container fixed-pnl">
        <p class="pnl-label">Fixed PnL</p>
        <p class="pnl-value">{{ portfolioData?.fixedPnl | number : '1.2-2' }}$</p>
      </div>
      <div class="divider"></div>
      <div class="pnl-container total-pnl">
        <p class="pnl-label">Total PnL</p>
        <p class="pnl-value">{{ portfolioData?.totalPnl | number : '1.2-2' }}$</p>
      </div>
    </div>
    <div class="performers-line">
      <div class="performer-container">
        <p class="performer-label">Best performer</p>
        <div class="performer best-performer" [ngClass]="{
            'performer-red-border': (getBestPerformer()?.pnl || 0) < 0,
            'performer-green-border': (getBestPerformer()?.pnl || 0) >= 0
          }">
          <h2 class="performer-asset">{{ getBestPerformer()?.asset }}</h2>
          <div class="performer-data">
            <p class="performer-change">@if ((getBestPerformer()?.pnl || 0) > 0) {+}{{ getBestPerformer()?.pnl | number : '1.2-2' }}%</p>
            <p class="performer-value">@if ((getBestPerformer()?.pnlPercent || 0) > 0) {+}{{ getBestPerformer()?.pnlPercent | number : '1.2-2' }}$</p>
          </div>
        </div>
      </div>
      <div class="performer-container">
        <p class="performer-label">Worst performer</p>
        <div class="performer worst-performer" [ngClass]="{
            'performer-red-border': (getWorstPerformer()?.pnl || 0) < 0,
            'performer-green-border': (getWorstPerformer()?.pnl || 0) >= 0
          }">
          <h2 class="performer-asset">{{ getWorstPerformer()?.asset }}</h2>
          <div class="performer-data">
            <p class="performer-change">@if ((getWorstPerformer()?.pnl || 0) > 0) {+}{{ getWorstPerformer()?.pnl | number : '1.2-2' }}%</p>
            <p class="performer-value">@if ((getWorstPerformer()?.pnlPercent || 0) > 0) {+}{{ getWorstPerformer()?.pnlPercent | number : '1.2-2' }}$</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="history-container"></div>
  <div class="allocation-container">
    <app-allocation-chart></app-allocation-chart>
  </div>
</div>