<div class="transactions-container">
  <h1>Transactions</h1>
  <table mat-table [dataSource]="dataSource" class="transaction-table">
    <!-- Transaction type -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">
        <div class="type-container">
          @if (element.type === "buy") {
            <img
              src="../../../../../assets/icons/buy.png"
              alt=""
              class="type-icon"
            />
            <span>Buy</span>
          } @else if (element.type === "sell") {
            <img
              src="../../../../../assets/icons/sell.png"
              alt=""
              class="type-icon"
            />
            <span>Sell</span>
          }
        </div>
      </td>
    </ng-container>

    <!-- Timestamp -->
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        <p class="transaction-date">
          {{ element.timestamp | date: "MMM d, yyyy" }}
        </p>
        <p class="transaction-time">
          {{ element.timestamp | date: "hh:mm a" }}
        </p>
      </td>
    </ng-container>

    <!-- Asset -->
    <ng-container matColumnDef="asset">
      <th mat-header-cell *matHeaderCellDef>Asset</th>
      <td mat-cell *matCellDef="let element">{{ element.asset }}</td>
    </ng-container>

    <!-- Price -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price | price }}$</td>
    </ng-container>

    <!-- Amount -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">
        {{ Math.abs(element.amount) }} {{ element.asset }}
      </td>
    </ng-container>

    <!-- Total -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Balance change</th>
      <td mat-cell *matCellDef="let element">
        <span
          [ngClass]="{
            'buy-color': element.total < 0,
            'sell-color': element.total >= 0,
          }"
        >
          @if (element.total < 0) {
            +
          } @else {
            -
          }
          {{ Math.abs(element.total) | number: "1.2-2" }}$
        </span>
      </td>
    </ng-container>

    <!-- Storage -->
    <ng-container matColumnDef="storage">
      <th mat-header-cell *matHeaderCellDef>Storage</th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]="{ 'na-value': !element.storage }">{{
          element.storage || "N/A"
        }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="totalRecords"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons=""
  ></mat-paginator>
</div>
