<header class="header">
  <h1 class="header__logo"><a [routerLink]="'/'">CointroL</a></h1>
  <nav class="header__nav">
    @if (isAuthorized()) {
      <a class="nav__item" [routerLink]="'portfolio'">
        <img src="assets/icons/briefcase.png" alt="" class="nav__icon" />
        <span>Portfolio</span>
      </a>
      <a class="nav__item" routerLink="notifications">
        <img src="assets/icons/bell.png" alt="" class="nav__icon" />
        <span>Notifications</span>
      </a>
      <a routerLink="" class="nav__item" (click)="logout()">
        <img src="assets/icons/logout.png" alt="" class="nav__icon" />
      </a>
    } @else {
      <a [routerLink]="'auth/login'"><button mat-flat-button>Log In</button></a>
      <a [routerLink]="'auth/register'"><button mat-raised-button>Sign Up</button></a>
    }
  </nav>
</header>
