.header {
  width: 100vw;
  height: 70px;
  padding: 0 50px;
  border-bottom: 3px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo a {
  color: white; 
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.nav__item:hover {
  filter: brightness(0.7);
}

.nav__icon {
  width: 20px;
  margin-right: 10px;
}