.account-bar-container {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-bar-inner-container {
  width: calc(80% + 25px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.telegram-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.telegram-logout-icon {
  width: 16px;
  filter: brightness(0.5);
  transition: 0.2s;
}

.telegram-logout-icon:hover {
  filter: brightness(1);
}

.telegram-image {
  width: 40px;
  border-radius: 20px;
}