<div class="balance-container">
  <button mat-flat-button class="tx-button">+ New Transaction</button>
  <div class="operation-field">
    <span class="balance__record record-secondary">Deposit: {{balance?.deposit | number: '1.2-2'}}$</span>
    <button class="operation-button" (click)="openOperationDialog('deposit')">+</button>
  </div>
  <div class="operation-field">
    <span class="balance__record record-secondary">Withdraw: {{balance?.withdraw | number: '1.2-2'}}$</span>
    <button class="operation-button" (click)="openOperationDialog('withdraw')">+</button>
  </div>
  <span class="balance__record record-primary">Balance: {{balance?.balance | number: '1.2-2'}}$</span>
</div>