.balance-container {
  width: 100%;
  padding: 10px 0;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

::ng-deep .mdc-button {
  --mdc-filled-button-container-color: var(--primary-color);
  --mdc-filled-button-container-height: 32px;
  --mat-filled-button-horizontal-padding: 10px;
}

.operation-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.operation-dialog-container {
  padding: 20px;
}

.operation-button {
  width: 20px;
  aspect-ratio: 1/1;
  background-color: transparent;
  color: white;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  transition: 0.2s;
}

.operation-button:hover {
  background-color: var(--primary-color);
}

.balance__record {
  margin-left: 20px;
}

.record-secondary {
  font-size: 0.8em;
  color: lightgrey;
}

.record-primary {
  display: block;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
}