<div class="login-container">
  <mat-card class="login-card">
    <h2 class="login__title">Login</h2>
    <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline" class="login__input">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" autocomplete="off" />
        @if (loginForm.get('email')?.hasError('required')) {
          <mat-error>Email can't be empty.</mat-error>
        } @else if (loginForm.get('email')?.hasError('email')) {
          <mat-error>Incorrect email format.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="login__input">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        @if (loginForm.get('password')?.hasError('required')) {
          <mat-error>Password can't be empty.</mat-error>
        } @else if (loginForm.get('password')?.hasError('minlength')) {
          <mat-error>Password must be longer.</mat-error>
        }
      </mat-form-field>

      @if (errorMessage) {
        <mat-error>{{ errorMessage }}</mat-error>
      }

      <button mat-raised-button type="submit" class="" [disabled]="loginForm.invalid">{{ isSubmitting ? 'Hold on...' : 'Sign in' }}</button>

      <p class="login__link">No account yet? <a [routerLink]="'/auth/register'">Register!</a></p>
    </form>
  </mat-card>
</div>
