/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Questrial';
  src: url('./assets/fonts/Questrial.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5b09b0;
  --secondary-color: #9040e6;
  --red-color: #be0d0d;
  --green-color: #0e810e;
  --primary-grey: #1d1d1d;
  --secondary-grey: #787878;
  /* --mdc-filled-text-field-caret-color: var(--primary-color);
  --mdc-filled-text-field-focus-active-indicator-color: var(--primary-color);
  --mdc-filled-text-field-focus-label-text-color: var(--primary-color); */

}

html, body { height: 100%; }

body { 
  margin: 0;
  font-family: 'Questrial', sans-serif;
  background-color: black;
  color: white;
}


a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: var(--primary-color);
}

.accented {
  color: var(--secondary-color);
}

html {
  --mdc-snackbar-container-color: var(--primary-grey);
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: var(--secondary-grey);
}

.snackbar-success .mdc-snackbar__surface {
  border: 2px solid var(--green-color);
}

.snackbar-error .mdc-snackbar__surface {
  border: 2px solid var(--red-color);
}

.snackbar-warning .mdc-snackbar__surface {
  border: 2px solid #ff9800;
}